@model IEnumerable<TaskProjectTracker.Models.Project>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.projectName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.projectStartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.projectCompletionDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.projectStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.projectPriority)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.projectName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.projectStartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.projectCompletionDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.projectStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.projectPriority)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.projectId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.projectId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.projectId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
